.left{
	
	float:left;
	width: 460px
}

.right{
	float: right;

}

#statusbox{
	width: 300px;
    height: 200px;
    overflow: auto;
	float: right;
}

.normal{
	width: 425px;
	transition-duration: 0.4s;
}

.prevnext{
	width: 210px;
	transition-duration: 0.4s;
}

.big{
	width: 425px;
	height: 65px;
	transition-duration: 0.4s;
}